{
  "ConnectionStrings": {
    "SqlServerAdmin": "Server=localhost,1453;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;",
    "LibraryDb": "Server=localhost,1453;Database=LibraryDb;User Id=library_app_user;Password=LibraryApp@2024!;TrustServerCertificate=True;"
  }
}
